/* Forms */
.bodyContent {
    background: #ededed;
}

.bodyContainer {
    padding: 20px 30px 30px 10px;
}

.previewCard {
    background: #ffffff !important;
    word-break: break-all;
}

.previewCardNoBreak {
    background: #ffffff !important;
}

.previewCardContainer {
    position: sticky;
    top: auto;
}
.stickyCard {
    position: sticky;
    top: 0;
}

password {
    color: black;
    background-color: black;
}

    password:hover {
        color: black;
        background-color: #00000000;
    }

/* Settings */
.settingTitle {
    padding: 10px;
    background-color: black;
    color: white;
    margin: auto;
    line-height: 40px;
}

.settingButtonCol {
    float: right;
}

.settingTitleCol {
    text-align: center;
    line-height: 40px;
}

.settingLeft {
    float: left;
    top: 0;
    width: 25%;
    position: sticky;
}

.settingRight {
    background-color: #ededed !important;
}

.settingCardBody {
    background-color: #ededed !important;
    background-image: none !important;
}

.btnNav {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
}

html {
    scroll-behavior: smooth;
}

div:target {
    animation: glow 1s 2 alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px #FF767688;
    }

    to {
        box-shadow: 0 0 10px 10px #FF767688;
    }
}

/* Login */
.loginBody {
    min-height: 100%;
    background: black;
    background-image: url("/Content/Images/chairLogin.png"), url("/Content/Images/leftCurtain.png"), url("/Content/Images/rightCurtain.png");
    background-size: 100% auto, auto 70%, auto 70%;
    background-position: left bottom, left top, right top;
    background-repeat: no-repeat,no-repeat,no-repeat;
}

.loginCurtain-Left {
    float: left;
    width: 11%;
    height: auto;
}

.loginCurtain-Right {
    float: right;
    width: 11%;
    height: auto;
}

.loginContainer {
    background: #ededed;
    min-width: 50%;
    max-width: 70%;
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #FF7676;
    transform: translate(-50%, -20%);
    animation: glow 1s infinite alternate;
}

/* Linh tinh */
.formSearchElement{
    padding:5px;
    margin:5px;
}


/* Paging */
.VA-middle {
    vertical-align: middle;
    display: table-cell;
}
.pageTitle {
    text-align: center;
    line-height: 40px;
   
}
.PagingTitle {
    padding: 10px;
    background-color: black;
    color: white;
    line-height: 40px;
}
.pagination {
    vertical-align:middle;
    background-color: lightgrey;
    border-radius: 5px;
}
.pagination > li {
    background-color: lightgrey;
    border-radius:5px;
}
    .pagination > .active {
        background-color: whitesmoke;
    }
.page-item > a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 5px 20px 5px 20px;
    text-align:center;
    color: #343A40 !important;
}

    .page-item > a:hover {
        z-index: 2;
        border-radius: 5px;
        background-color: whitesmoke;
        color: #343A40 !important;
        text-decoration: none;
    }