.nav-link {
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    background: #262626;
    background-image: linear-gradient(147deg, #262626 0%, #100f0f 100%);
}



#login .container {
    color: #dd256d;
}

    #login .container #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
    }

        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }

            #login .container #login-row #login-column #login-box #login-form #register-link {
                margin-top: -85px;
            }

#video_background {
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}


.left {
    float: left;
    color: blue;
}

.right {
    background-color: #757f9a;
    background-image: linear-gradient( 147deg, #a1a9c1 0%, #d7dde8 100%);
}

.card-body {
    background-color: #757f9a;
    background-image: linear-gradient( 147deg, #a1a9c1 0%, #d7dde8 100%);
}

.lb_themnv {
    margin-top: 20px;
    background-color: darkblue;
    font-size: 2rem;
    color: white
}

.left-in {
    width: 50%;
}

.right-in {
    width: 50%;
}

#upload {
    opacity: 0;
}

.pt-4, .py-4 {
    padding-top: unset !important;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    position: relative;
    height: 200px;
}

    .image-area::before {
        content: 'Uploaded image result';
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
        z-index: 1;
    }

    .image-area img {
        z-index: 2;
        position: relative;
    }
