<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title id="hdtitle">CINESTAR</title>
    <meta name="description" content="CINESTAR">
    <meta name="keywords" content="CINESTAR">
    <meta name="author" content="CINESTAR">
    <meta property="og:url" content="https://cinestar.com.vn/lichchieu/8fef0e82-b317-42e4-a373-815b782bb6be">
    <meta property="og:title" content="CINESTAR">
    <meta property="og:image" content="https://cinestar.com.vn/catalog/view/theme/default/images/social-share-black.png">
    <meta property="og:description" content="CINESTAR">
    <meta property="og:site_name" content="CINESTAR">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="vi_VN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="google-site-verification" content="YuTiM7jHui55k8Zx2X9vwfCyP9rylFkgxyGeseNR8pk">
    <link rel="SHORTCUT ICON" href="https://cinestar.com.vn/catalog/view/theme/default/images/favicon.ico">
    
    <link href="~/Content/CINESTAR_files/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CINESTAR_files/validationEngine.jquery.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
        <meta http-equiv="refresh" content="0; url=https://cinestar.com.vn/detect.html" />
        <script type="text/javascript">
        /* <![CDATA[ */
        window.top.location = 'https://cinestar.com.vn/detect.html';
        /* ]]> */
        </script>
    <![endif]-->
    <script type="text/javascript" async="" src="~/Content/CINESTAR_files/analytics.js"></script>
    <script src="~/Content/CINESTAR_files/" async=""></script>
    <script async="" src="~/Content/CINESTAR_files/fbevents.js.tải xuống"></script>
    <script>
        var USERNAME = '';
        var EMAIL = '';
        var PHONE = '';
    </script>

    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/jquery.js"></script>
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/history.js"></script>
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/common.js"></script>
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/slide.js"></script>
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/scroll.js"></script>
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/load.js"></script>


    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/validate.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159045884-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-159045884-1');
    </script>		<!-- Facebook Pixel Code -->

    <script>

        !function (f, b, e, v, n, t, s) { if (f.fbq) return; n = f.fbq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0; t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s) }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');



        fbq('init', '1760220167590183');

        fbq('track', "PageView");
    </script>

    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1760220167590183&ev=PageView&noscript=1" />

    </noscript>

    <!-- End Facebook Pixel Code -->
</head>
<body>
   
    <div>
        <div class="header">
            <div class="logo-mb" style="background-image: url(https://www.saokim.com.vn/blog/wp-content/uploads/2010/10/logo-hinh-tron-saokim.png);"></div>
            <div class="top">
                <div style="display: none" class="user-peoplexx"><a href="https://cinestar.com.vn/lichchieu/user-detail.html" id="user_01">xem thông tin</a> Hi: <span>New member !</span></div>
                <!--//logo-part//-->
                <div class="logo"><img src="~/Content/CINESTAR_files/zalopay.png" /></div>
                <!--//logo-part//-->
                <!--//facilities-part//-->
                <div class="facilities-nav">
                    <!--search-->
                    <div class="search-form">
                        <div class="form-row-search">
                            <form onsubmit="return false;" action="https://cinestar.com.vn/lichchieu/8fef0e82-b317-42e4-a373-815b782bb6be" id="search" method="get">
                                <input id="qsearch" type="text" class="search-field" value="Tìm kiếm...">
                                <input id="defaultvalue" type="hidden" class="search-field" value="Tìm kiếm...">
                                <input type="hidden" id="href_search" value="">
                            </form>
                        </div>
                        <a href="javascript:void(0);" class="search">Search</a>
                    </div>
                    <!--search-->
                    <!--laguage-->
                    <form style="display: inline" id="change_lang" enctype="multipart/form-data" method="post" action="https://cinestar.com.vn/index.php?route=common/home">
                        <a style="text-transform: uppercase" class="language show" href="javascript:void(0);" onclick="$(&#39;input[name=\&#39;language_code\&#39;]&#39;).attr(&#39;value&#39;, &#39;en&#39;).submit(); $(&#39;#change_lang&#39;).submit(); return false;">en</a>
                        <input type="hidden" value="" name="language_code">
                        <input id="changlanguage_redirect" type="hidden" value="https://cinestar.com.vn/lichchieu?schedule_id=8fef0e82-b317-42e4-a373-815b782bb6be" name="redirect">
                    </form>
                    <!--laguage-->
                </div>
                <!--//facilities-part//-->
                <!--menu-->
                <div class="navigation" style="height: auto;">
                    <a class="link-home" href="https://cinestar.com.vn/"><h1>Trang chủ</h1></a>
                    <div class="nav">
                        <ul>
                            <li class="current"><a data-title="CINESTAR" data-description="CINESTAR" data-keyword="CINESTAR" href="https://cinestar.com.vn/phim"><h1>Trang chủ</h1></a></liclass="current">
                            <li><a data-title=" LỊCH CHIẾU CINESTAR" data-description="LỊCH CHIẾU PHIM TẠI CINESTAR" data-keyword="CINESTAR; LỊCH CHIẾU" href="https://cinestar.com.vn/lichchieu"><h1>Lịch chiếu</h1></a></li>
                            <li><a data-title="CINESTAR" data-description="CINESTAR" data-keyword="CINESTAR" href="https://cinestar.com.vn/rapvagia"><h1>Rạp chiếu</h1></a></li>
                            <li><a data-title="CINESTAR" data-description="CINESTAR" data-keyword="CINESTAR" href="https://cinestar.com.vn/khuyenmai"><h1>Khuyến mãi</h1></a></li>
                            <li><a data-title="CINESTAR" data-description="CINESTAR" data-keyword="CINESTAR" href="https://cinestar.com.vn/tintuc"><h1>Tin tức</h1></a></li>

                        </ul>
                    </div>
                </div>
                <!--menu-->
            </div>
        </div>
        <div class="container" style=" opacity: 1;">
            <div class="container-bg">
                <!--USER-SECTION-->
                <div class="register-content">
                    <div class="register-wrap" >
                        <!--//user-nav//-->
                        <ul>
                            <li class="btn-register"><a style="font-family:sans-serif;font-size:20px" href="javascript:void(0);">Đăng ký thành viên</a></li>
                            <li class="btn-login"><a style="font-family:sans-serif;font-size:20px" href="javascript:void(0);">Đăng nhập</a></li>
                        </ul>
                        <a class="hotline" href="tel:028 7365 8888">028 7365 8888</a>
                        <!--//user-nav//-->
                        <!--//user-form//-->
                        <!--//user-form//-->

                    </div>
                    <div class="hover-box"></div>
                </div>           
                <!--USER-SECTION-->
                <!--SLIDER-->
                <div class="slider-inner" data-time="5000">
                    <div class="slide-bg-inner slide-slidebox" style="opacity: 1; display: inline-block;">
                        <div class="slide-wrapper-outer">
                            <div class="slide-wrapper" style="width: 1000px; left: 0px; display: block; transform: translate3d(-5396px, 0px, 0px); transform-origin: 6070.5px center; perspective-origin: 6070.5px center; transition: all 200ms ease 0s;">
                                <div class="slide-item" style="width: 1349px;">
                                    <div class="bg-inner" style="width: 1349px; height: auto;">
                                        <a href="https://cinestar.com.vn/khuyenmai/c-student">
                                            <img src="~/Content/CINESTAR_files/hssv-340px.jpg" alt="bg">
                                        </a>
                                    </div>
                                </div><div class="slide-item" style="width: 1349px;">
                                    <div class="bg-inner" style="width: 1349px; height: auto;">
                                        <a href="https://cinestar.com.vn/khuyenmai/c-monday">
                                            <img src="~/Content/CINESTAR_files/c'monday.jpg" alt="bg">
                                        </a>
                                    </div>
                                </div><div class="slide-item" style="width: 1349px;">
                                    <div class="bg-inner" style="width: 1349px; height: auto;">
                                        <a href="https://cinestar.com.vn/khuyenmai/c-member">
                                            <img src="~/Content/CINESTAR_files/c'member-340px.jpg" alt="bg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item" style="width: auto;">
                            <div class="bg-inner" style="width: auto;">
                                <a href="https://cinestar.com.vn/khuyenmai/combobigstaruudaithuba">
                                    <img src="~/Content/CINESTAR_files/222.jpg" alt="bg">
                                </a>
                            </div>
                        </div>
                        <div class="slide-item" style="width: 1349px;">
                            <div class="bg-inner" style="width: 1349px;">
                                <a href="https://cinestar.com.vn/khuyenmai/c-ten">
                                    <img src="~/Content/CINESTAR_files/c'ten.jpg" alt="bg">
                                </a>
                            </div>
                        </div>
                        <div class="slide-item select" style="width: 1000px; ">
                            <div class="bg-inner" style="width: 1349px; height: 100px">
                                <a href="https://cinestar.com.vn/khuyenmai/c-ten">
                                    <img src="~/Content/CINESTAR_files/carousel.jpg" alt="bg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--SLIDER-->
                <!--CART-SECTION--->
                <div class="cart-content">
                    <div class="cart-wrap">

                        <div class="block-title">
                            <h2>Mua vé<br>Online</h2>
                        </div>

                        <div class="block-list">
                            <div class="select-list" data-cate="film">
                                <div class="select-header">
                                    <span></span>
                                    <h3 data-holder="Chọn phim">Chọn phim</h3>
                                </div>
                                <div class="select-box">
                                    <ul>
                                        <li><a href="javascript:void(0);" data-img="https://cinestar.com.vn/pictures/Cinestar/03-2021/palm.jpg" data-format="2d" data-id="54a26985-aea1-45f5-8bb8-771fd09980ed"><h3>MỞ MẮT THẤY HÔM QUA (C18)</h3></a></li>
                                        <li><a href="javascript:void(0);" data-img="https://cinestar.com.vn/pictures/Cinestar/03-2021/baoung.jpg" data-format="2d" data-id="7036b4f2-093f-43c6-b232-e8fb553cd19e"><h3>BÁO ỨNG (C18)</h3></a></li>
                                        <li><a href="javascript:void(0);" data-img="https://cinestar.com.vn/pictures/Cinestar/03-2021/bogia1203.jpg" data-format="2d" data-id="8fef0e82-b317-42e4-a373-815b782bb6be"><h3>BỐ GIÀ (C13)</h3></a></li>
                                        <li><a href="javascript:void(0);" data-img="https://cinestar.com.vn/pictures/Cinestar/03-2021/raya.jpg" data-format="2d" data-id="a9262271-84da-4f42-a679-7f038cfb4c83"><h3>RAYA VÀ RỒNG THẦN CUỐI CÙNG 2D PĐ</h3></a></li>
                                        <li><a href="javascript:void(0);" data-img="https://cinestar.com.vn/pictures/Cinestar/03-2021/gocong.jpg" data-format="2d" data-id="bfcf63be-1f26-494b-9ee5-f34920d9180b"><h3>GODZILLA VS. KONG (C13)</h3></a></li>
                                        <li><a href="javascript:void(0);" data-img="https://cinestar.com.vn/pictures/Cinestar/03-2021/gaigia.jpg" data-format="2d" data-id="d94fca18-52db-4e17-9007-87d138aae813"><h3>GÁI GIÀ LẮM CHIÊU V - NHỮNG CUỘC ĐỜI VƯƠNG GIẢ</h3></a></li>
                                        <li><a href="javascript:void(0);" data-img="https://cinestar.com.vn/pictures/Cinestar/04-2021/mira.jpg" data-format="2d" data-id="e945dd6c-3e09-4a4d-aec5-419c5e42ff3b"><h3>KHÁT VỌNG ĐỔI ĐỜI</h3></a></li>
                                        <li><a href="javascript:void(0);" data-img="https://cinestar.com.vn/pictures/Cinestar/03-2021/raya.jpg" data-format="2d" data-id="eb0b8924-b5c5-412c-a8ae-672181a5cc5d"><h3>RAYA VÀ RỒNG THẦN CUỐI CÙNG 2D LT</h3></a></li>
                                        <li><a href="javascript:void(0);" data-img="https://cinestar.com.vn/pictures/Cinestar/03-2021/honloan.jpg" data-format="2d" data-id="f85aa6d5-6e7c-498f-9b4e-b0da32234553"><h3>HÀNH TINH HỖN LOẠN (C13)</h3></a></li>
                                    </ul>
                                </div>
                            </div>

                            

                            <div class="select-list" data-cate="day">
                                <div class="select-header">
                                    <span></span>
                                    <h3 data-holder="Chọn ngày">Chọn ngày</h3>
                                </div>
                                <div class="select-box">
                                    <ul class="warning">
                                        <li><a href="javascript:void(0);"><h3>Vui lòng chọn phim</h3></a></li>
                                    </ul>
                                    <ul>
                                    </ul>
                                </div>
                            </div>

                            <div class="select-list" data-cate="hour">
                                <div class="select-header">
                                    <span></span>
                                    <h3 data-holder="Chọn suất chiếu">Chọn suất chiếu</h3>
                                </div>
                                <div class="select-box">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!--CART-SECTION--->



            



        </div>
        @RenderBody()
            <div class="container-bg">

            
        <!--PROMOTION-SECTION-->
        <div class="promotion-content ">
            <div class="promotion-wrap">

                <div class="promotion-title" >
                    <h2>Chương trình Ưu đãi</h2>
                </div>

                <div class="promotion-slide">

                    <div class="promotion-item" >
                        <a href="https://cinestar.com.vn/khuyenmai/c-monday">
                            <div class="promotion-pic"><img class="lazyload" src="~/Content/CINESTAR_files/COMBO1.jpg" align="C'MONDAY - Cinestar Happy Day" /></div>
                        </a>
                    </div>

                    <div class="promotion-item">
                        <a href="https://cinestar.com.vn/khuyenmai/combobigstaruudaithuba">
                            <div class="promotion-pic"><img class="lazyload"  src="~/Content/CINESTAR_files/COMBO3.jpg" align="COMBO BIG STAR - ƯU ĐÃI THỨ BA " /></div>
                        </a>
                    </div>

                    <div class="promotion-item">
                        <a href="https://cinestar.com.vn/khuyenmai/c-member">
                            <div class="promotion-pic"><img class="lazyload" src="~/Content/CINESTAR_files/share-combo-2.png" align="C'member - ngày hội thành viên" /></div>
                        </a>
                    </div>

                    <div class="promotion-item">
                        <a href="https://cinestar.com.vn/khuyenmai/c-student">
                            <div class="promotion-pic"><img class="lazyload" data-src="https://cinestar.com.vn/pictures/Hình%20nền%20CTKM/hssv.jpg" align="TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG" /></div>
                        </a>
                    </div>

                    <div class="promotion-item">
                        <a href="https://cinestar.com.vn/khuyenmai/c-ten">
                            <div class="promotion-pic"><img class="lazyload" data-src="https://cinestar.com.vn/pictures/c_ten.jpg" align="C'Ten - Khuyến mãi tại mốc 10H" /></div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
            
        <!--PROMOTION-SECTION-->
        <!--BOTTOM-->
        <div class="bottom">

            <div class="bottom-nav">
                <div class="logo-footer" style="background-image:url(https://cinestar.com.vn/pictures/moi/9Logo/white-2018.png);"></div>

                <div class="bottom-wrap">
                    <div class="social">
                        <h2>Liên kết</h2>
                        <ul>
                            <!--li><a href="" target="_blank" class="google">Google</a></li-->
                            <li><a href="https://www.facebook.com/CinestarVietNam" target="_blank" class="facebook">Facebook</a></li>
                            <li><a href="https://www.youtube.com/channel/UCMZgMHS9vFfXoe3UA6eanyQ" target="_blank" class="youtube">Youtube</a></li>
                        </ul>
                        <h2>Hotline</h2>
                        <a class="hotline-tel" href="tel:028 7300 8881">028 7300 8881</a>
                    </div>

                    <div class="cinestart-price">
                        <h2>Hệ thống rạp</h2>
                        <ul>
                            <li data-name="8f3a5832-8340-4a43-89bc-6653817162f1"><a href="https://cinestar.com.vn/rapvagia/8f3a5832-8340-4a43-89bc-6653817162f1">CineStar Quốc Thanh</a></li>
                            <li class="current" data-name="e08f986a-1937-419e-b1b1-759b7c74728b"><a href="https://cinestar.com.vn/rapvagia/e08f986a-1937-419e-b1b1-759b7c74728b">CineStar Đà Lạt</a></li>
                            <li data-name="667c7727-857e-4aac-8aeb-771a8f86cd14"><a href="https://cinestar.com.vn/rapvagia/667c7727-857e-4aac-8aeb-771a8f86cd14">CineStar Hai Bà Trưng</a></li>
                            <li class="current" data-name="cf13e1ce-2c1f-4c73-8ce5-7ef65472db3c"><a href="https://cinestar.com.vn/rapvagia/cf13e1ce-2c1f-4c73-8ce5-7ef65472db3c">CineStar Bình Dương</a></li>
                            <li class="current" data-name="f8a60463-5c34-49a9-9ae8-52081e387bb8"><a href="https://cinestar.com.vn/rapvagia/f8a60463-5c34-49a9-9ae8-52081e387bb8">CineStar Huế</a></li>
                            <li data-name="8f54df74-3796-42ea-896e-cd638eec1fe3"><a href="https://cinestar.com.vn/rapvagia/8f54df74-3796-42ea-896e-cd638eec1fe3">Cinestar Mỹ Tho</a></li>
                        </ul>
                    </div>
                    <div class="cinestart">

                        <h2>CINESTAR</h2>
                        <ul>
                            <li data-name="212_2"><a href="https://cinestar.com.vn/phimdangchieu">Phim đang chiếu</a></li>
                            <li data-name="212_1"><a href="https://cinestar.com.vn/phimsapchieu">Phim sắp chiếu</a></li>
                            <li data-name="212_3"><a href="https://cinestar.com.vn/suatchieudacbiet">Suất chiếu đặc biệt</a></li>
                            <li class="current" data-name="213"><a href="https://cinestar.com.vn/lichchieu">Lịch chiếu</a></li>
                            <li data-name="211"><a href="https://cinestar.com.vn/khuyenmai">Khuyến mãi</a></li>
                        </ul>
                    </div>

                    <div class="info">
                        <h2>Thông tin</h2>
                        <ul>
                            <li data-name="207"><a href="https://cinestar.com.vn/gioithieu">Giới thiệu</a></li>
                            <li data-name="209"><a href="https://cinestar.com.vn/tintuc">Tin tức</a></li>
                            <li data-name="210"><a href="https://cinestar.com.vn/hoivadap">Hỏi và đáp</a></li>
                            <li data-name="118"><a href="https://cinestar.com.vn/lienhe">Liên hệ</a></li>
                        </ul>
                    </div>

                    <div class="info terms_and_condition">
                        <h2>CHÍNH SÁCH VÀ QUY ĐỊNH</h2>
                        <ul>
                            <li><a href="javascript:void(0);" data-name="terms_and_condition_2">Quy định chung</a></li>
                            <li><a href="javascript:void(0);" data-name="terms_and_condition_3">Điều khoản giao dịch</a></li>
                            <li><a href="javascript:void(0);" data-name="terms_and_condition_4">Chính sách bảo mật</a></li>
                            <li><a href="javascript:void(0);" data-name="terms_and_condition_5">Thông tin công ty</a></li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="bottom-nav-icon">
                <ul>
                    <li><a href="javascript:void(0);" data-name="1"><img src="~/Content/CINESTAR_files/dolby2.png" align="DOBLY ATMOS - CÔNG NGHỆ ÂM THANH MỚI MANG TÍNH ĐỘT PHÁ"></a></li>
                    <li><a href="javascript:void(0);" data-name="2"><img src="~/Content/CINESTAR_files/crhistie.png" align="Máy chiếu CHRISTIE"></a></li>
                    <li><a href="javascript:void(0);" data-name="3"><img src="~/Content/CINESTAR_files/2d.jpg" align="Công nghệ chiếu phim 2D Digital"></a></li>
                    <li><a href="javascript:void(0);" data-name="4"><img src="~/Content/CINESTAR_files/3d.png" align="Công nghệ chiếu phim 3D Digital"></a></li>
                    <li><a href="javascript:void(0);" data-name="5"><img src="~/Content/CINESTAR_files/cinestar-coffee-02.png" align="Cinestar Coffee"></a></li>
                </ul>
            </div>

        </div>
        <!--BOTTOM-->
        <!--FOOTER-->
        <div class="footer">
            <!--//payment-part//--->
            <!--//payment-part//--->
            <!--//copyright-part//-->
            <div class="copyright">
                <p><a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=51406" target="_blank"><img width="150px" src="~/Content/CINESTAR_files/dathongbao.png" alt=" đã được duyệt"></a> </p>
                <p>
                    CÔNG TY CỔ PHẦN GIẢI TRÍ PHÁT HÀNH PHIM – RẠP CHIẾU PHIM NGÔI SAO<br>
                    Địa chỉ: 135 Hai Bà Trưng, phường Bến Nghé, Quận 1, TP.HCM<br>
                    Giấy CNĐKDN số: 0312742744, đăng ký lần đầu ngày 18/04/2014, đăng ký thay đổi lần thứ 2 ngày 15/09/2014, cấp bởi Sở KH&amp;ĐT TP.HCM<br><br>
                    2015 © <strong>CINESTAR</strong>. All rights reserved.
                </p>
                <!--h2><a href="javascript:void(0);" data-name="terms_condition">Điều khoản chung</a></h2>
                    <p>CÔNG TY CỔ PHẦN GIẢI TRÍ PHÁT HÀNH PHIM – RẠP CHIẾU PHIM NGÔI SAO<br>
            Địa chỉ: 135 Hai Bà Trưng, phường Bến Nghé, Quận 1, TP.HCM<br>
            Giấy CNĐKDN số: 0312742744, đăng ký lần đầu ngày 18/04/2014, đăng ký thay đổi lần thứ 2 ngày 15/09/2014, cấp bởi Sở KH&ĐT TP.HCM<br><br>
            2015 © <strong>CINESTAR</strong>. All rights reserved. <a href="http://www.btq.vn" target="_blank">DEVELOPED BY 3GRAPHIC</a></p-->
            </div>
            <!--//copyright-part//-->
        </div>
        <!--FOOTER-->
                </div>
    </div>
    <script>
        function refreshcaptcha() {
            var c_currentTime = new Date();
            var id = c_currentTime.getTime();
            $(".captcha_image").attr("src", "https://cinestar.com.vn/?route=information/contact/captcha&id=" + id);
            setTimeout(getcode, 1000);
        }

        function getcode() {
            var c_currentTime = new Date();
            var id = c_currentTime.getTime();

            $.ajax({
                url: 'https://cinestar.com.vn/?route=information/contact/getcode&id=' + id,
                type: 'POST',
                dataType: 'html',
                success: function (data) {
                    $('#captcha_bk').val(data);
                }
            });
        }
        function validateLogin() {
            var flag = true;
            var password = checkNull('login_password', 'Mật khẩu không được rỗng.', '', '40', '-275');
            var email = checkNull('login_email', 'Email không hợp lệ!', '', '40', '-275');

            if (!password || !email) {
                flag = false;
                setTimeout(hideerror, 5000);
            }
            return flag;
        }

        function validateLogin1() {
            var flag = true;
            var password = checkNull('login_password1', 'Mật khẩu không được rỗng.', '', '40', '-275');
            var email = checkNull('login_email1', 'Email không hợp lệ!', '', '40', '-275');

            if (!password || !email) {
                flag = false;
                setTimeout(hideerror, 5000);
            }
            return flag;
        }
        //=============================
        function validateRegister(tab) {

            var flag = true;
            var name = checkNull('member_name' + tab, 'Vui lòng nhập tên!', '', '40', '-275');
            var birthday = checkNull('member_birthday' + tab, 'Vui lòng nhập ngày sinh', '', '40', '-275');
            var address = checkNull('member_address' + tab, 'Vui lòng nhập địa chỉ!', '', '40', '-275');
            var cmnn = checkNull('member_cmnn' + tab, 'Vui lòng nhập CMNN/BẰNG LÁI', '', '40', '-275');
            //var ngaycap = checkNull('member_ngaycap'+tab, 'Vui lòng nhập ngày cấp','','40','-275');
            var phone = checkNull('member_phone' + tab, 'Điện thoại không hợp lệ!', '', '40', '-275');
            var email = checkMail('member_email' + tab, 'Email không hợp lệ!', '', '40', '-275');
            //var honnhan = checkNull('member_honnhan'+tab, 'Vui lòng nhập tình trạng hôn nhân','','40','-275');
            //var theloaiyeuthich = checkNull('member_theloaiyeuthich'+tab, 'Vui lòng nhập thể loại yêu thích','','40','-275');
            //var lanxemthang = checkNull('member_lanxemthang'+tab, 'Vui lòng nhập số lần xem tháng','','40','-275');
            var username = checkNull('member_username' + tab, 'Vui lòng nhập tên đăng nhập', '', '40', '-275');
            var password = checkNull('member_password' + tab, 'Mật khẩu không được rỗng.', '', '40', '-275');
            //var password_confirm = checkNull('member_password_confirm'+tab, 'Mật khẩu không được rỗng.','','40','-275');
            var password_confirm = true;
            if ($('#member_password' + tab).val() != $('#member_password_confirm' + tab).val()) {
                password_confirm = false;
                var left = "40";
                var top = "-275";
                var mess = 'Xác nhận mật khẩu không đúng';
                var id = "member_password_confirm" + tab;
                $('#' + id).after('<div class="nameformError parentFormfrm_contact formError" style="left: ' + left + 'px; margin-top: ' + top + 'px; opacity: 0.8;"><div id="error_' + id + '" class="formErrorContent">' + mess + '<br></div><div class="formErrorArrow"><div class="line10"></div><div class="line9"></div><div class="line8"></div><div class="line7"></div><div class="line6"></div><div class="line5"></div><div class="line4"></div><div class="line3n"></div><div class="line2n"></div><div class="line1"></div></div></div>');
            }
            if (!name || !birthday || !address || !cmnn || !phone || !email || !username || !password || !password_confirm) {
                flag = false;
                setTimeout(hideerror, 5000);
            }
            return flag;
        }

        function validateReset(tab) {
            var flag = true;
            var email = checkMail('forgot_email' + tab, 'Email không hợp lệ!', '', '40', '-275');
            var captcha = checkCaptcha('captcha' + tab, 'Vui lòng nhập mã bảo vệ!', '', '40', '-275');

            if (!email || !captcha) {
                flag = false;
                setTimeout(hideerror, 5000);
            }
            return flag;
        }

        function validateUpdate(tab) {
            var flag = true;
            var name = checkNull('update_name' + tab, 'Vui lòng nhập tên!', '', '40', '-275');
            var birthday = checkNull('update_birthday' + tab, 'Vui lòng nhập ngày sinh', '', '40', '-275');
            var address = checkNull('update_address' + tab, 'Vui lòng nhập địa chỉ!', '', '40', '-275');
            var cmnn = checkNull('update_cmnn' + tab, 'Vui lòng nhập CMNN/BẰNG LÁI', '', '40', '-275');
            var phone = checkNull('update_phone' + tab, 'Điện thoại không hợp lệ!', '', '40', '-275');
            var email = checkMail('update_email' + tab, 'Email không hợp lệ!', '', '40', '-275');
            var username = checkNull('update_username' + tab, 'Vui lòng nhập tên đăng nhập', '', '40', '-275');
            var password = checkNull('update_password' + tab, 'Mật khẩu không được rỗng.', '', '40', '-275');
            var password_confirm = true;
            if ($('#update_password' + tab).val() != $('#update_password_confirm' + tab).val()) {
                password_confirm = false;
                var left = "40";
                var top = "-275";
                var mess = 'Xác nhận mật khẩu không đúng';
                var id = "update_password_confirm" + tab;
                $('#' + id).after('<div class="nameformError parentFormfrm_contact formError" style="left: ' + left + 'px; margin-top: ' + top + 'px; opacity: 0.8;"><div id="error_' + id + '" class="formErrorContent">' + mess + '<br></div><div class="formErrorArrow"><div class="line10"></div><div class="line9"></div><div class="line8"></div><div class="line7"></div><div class="line6"></div><div class="line5"></div><div class="line4"></div><div class="line3n"></div><div class="line2n"></div><div class="line1"></div></div></div>');
            }

            if (!name || !birthday || !address || !cmnn || !phone || !email || !username || !password || !password_confirm) {
                flag = false;
                setTimeout(hideerror, 5000);
            }
            return flag;
        }
        /*
        function submitPage(FormId, EventId, Validate, Url, callback){
            if(Validate==true){
                var datapost = $(FormId).serialize();
                getPage(Url, 'POST', datapost, callback);
                return false;
            }//end if

            $(".formError").click(function(){
                $(this).hide();
            });

            return false;
        }*/
        function changeText() {
            var tmp;
            $('.register-content .btn-login').addClass('btn-logout');
            tmp = $('.register-content .btn-login a').text();
            $('.register-content .btn-login a').text($('.register-content .btn-login a').attr('data-tmp'));
            $('.register-content .btn-login a').attr('data-tmp', tmp);

            $('.register-content .btn-register').addClass('btn-userinfo');
            tmp = $('.register-content .btn-register a').text();
            $('.register-content .btn-register a').text($('.register-content .btn-register a').attr('data-tmp'));
            $('.register-content .btn-register a').attr('data-tmp', tmp);
        }
        $(document).ready(function () {
            refreshcaptcha();
            //setTimeout(getcode,1000);
            $(document).on('click', '#btn-send-top, #btn-send-tab', function () {
                var FormId = "";
                var Validate = "";
                var Url = BASE_URL + "?route=cms/user/forgot";
                if ($(this).attr('id') == 'btn-send-top') {
                    FormId = "#forgot-top";
                    Validate = validateReset('');
                } else {
                    FormId = "#forgot";
                    Validate = validateReset('1');
                }

                if (Validate == true) {
                    var dataPost = $(FormId).serialize();
                    getPage(Url, 'POST', dataPost, function (data) {
                        $('.loadicon').fadeOut(300, 'linear', function () {
                            $('.loadicon').remove();
                        });
                        data = JSON.parse(data);
                        if (data.status == 200) {
                            $('body').append('<div  class="contact-success color-blue">' + data.message + '</div>');
                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                            setTimeout(hidemsg, 5000);
                        } else {
                            $('body').append('<div  class="contact-success color-blue">' + data.message + '</div>');
                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                            setTimeout(hidemsg, 5000);
                        }

                    });
                }
            });

            $(document).on('click', '#btn-save-top, #btn-save-tab', function () {
                var FormId = "";
                var Validate = "";
                var Url = BASE_URL + "?route=cms/user/update";
                if ($(this).attr('id') == 'btn-save-top') {
                    FormId = "#modify-top";
                    Validate = validateUpdate('');
                } else {
                    FormId = "#modify";
                    Validate = validateUpdate('1');
                }

                if (Validate == true) {
                    var dataPost = $(FormId).serialize();
                    getPage(Url, 'POST', dataPost, function (data) {
                        $('.loadicon').fadeOut(300, 'linear', function () {
                            $('.loadicon').remove();
                        });
                        data = JSON.parse(data);
                        if (data.status == 200) {
                            $('.close-user').trigger('click');
                            $('body').append('<div  class="contact-success color-blue">' + data.message + '</div>');
                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                            setTimeout(hidemsg, 5000);
                        } else {
                            $('body').append('<div  class="contact-success color-blue">' + data.message + '</div>');
                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                            setTimeout(hidemsg, 5000);
                        }

                    });
                }
            });
            $('#btn-register-top, #btn-register-tab').on('click', function () {
                var FormId = "";
                var Validate = "";
                var Url = BASE_URL + "dangky";
                var accept = "";
                if ($(this).attr('id') == 'btn-register-top') {
                    FormId = "#register-top";
                    Validate = validateRegister('');
                    accept = "#member_accept";
                } else {
                    FormId = "#register";
                    Validate = validateRegister('1');
                    accept = "#member_accept1";
                }

                if (Validate == true) {
                    if ($(accept).is(":checked")) {
                        var dataPost = $(FormId).serialize();
                        getPage(Url, 'POST', dataPost, function (data) {
                            $('.loadicon').fadeOut(300, 'linear', function () {
                                $('.loadicon').remove();
                            });
                            data = JSON.parse(data);
                            if (data.status == 200) {
                                isLogin = true;
                                $(FormId).find("input[type=text], textarea").val("");
                                $(FormId + ' .focus-text.hide').removeClass('hide');
                                if (FormId == '#register') {
                                    $('.user-form.register').css({ 'display': 'none' });
                                    $('.user-form.modify').css({ 'display': 'block', 'opacity': 0 });
                                    if (movie.movie_hour != '') {
                                        order();
                                    }
                                } else {
                                    $('.tab-register').css({ 'display': 'block' });
                                    $('.block-user .user-form.register').css({ 'display': 'none' });
                                }
                                $('body').append('<div  class="contact-success color-blue">' + data.message + '</div>');

                                changeText();
                                $('html, body').animate({ scrollTop: 0 }, 'slow');
                                setTimeout(hidemsg, 5000);
                                /*
                                $('.block-user .user-form.modify').css({'display': 'block', 'opacity':0});
                                $('html, body').stop().animate({scrollTop: 0}, 200, 'linear', function(){
                                    $('.block-user .user-form.modify').css({'opacity': 1});
                                });*/
                            } else {
                                $('body').append('<div  class="contact-success color-blue">' + data.message + '</div>');
                                $('html, body').animate({ scrollTop: 0 }, 'slow');
                                setTimeout(hidemsg, 5000);
                            }

                        });
                    } else {
                        $('body').append('<div  class="contact-success color-blue">Vui lòng chọn đồng ý các điều khoản</div>');
                        $('html, body').animate({ scrollTop: 0 }, 'slow');
                        setTimeout(hidemsg, 5000);
                    }
                }
            });
            $('#btn-login-tab, #btn-login-top').click(function () {
                var valid = false;
                var FormId = "";
                if ($(this).attr('id') == 'btn-login-top') {
                    valid = validateLogin1();
                    FormId = "#login";
                } else {
                    valid = validateLogin();
                    FormId = "#login-top";
                }
                var $this = $('.register-wrap .btn-login');
                if (valid == true) {
                    $('body').append('<div class="loadicon" style="display:block"><span class="circle"></span></div>');
                    var datapost = $(FormId).serialize();
                    var url = "https://cinestar.com.vn/dangnhap";

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: datapost,

                        success: function (success) {
                            $('.loadicon').fadeOut(300, 'linear', function () {
                                $('.loadicon').remove();
                            });
                            $('.contact-success').remove();
                            var json = JSON.parse(success);
                            if (json.status == 200) {
                                USERNAME = json.user.NAME;
                                EMAIL = json.user.EMAIL;
                                PHONE = json.user.PHONE;

                                changeText();
                                isLogin = true;
                                $(FormId).find("input[type=text], textarea").val("");
                                $(FormId + ' .focus-text.hide').removeClass('hide');
                                $('body').append('<div  class="contact-success color-blue">Đăng nhập thành công.</div>');

                                //dong form login
                                $('.register-wrap ul li').removeClass('active');
                                $('.block-user .tab-register, .block-user .tab-login').fadeOut(200);
                                $('.register-content').removeClass('showbox');

                                if (movie.movie_hour != '') {
                                    order();
                                }

                                //$('.user-people').addClass('active');
                                $('html, body').animate({ scrollTop: 0 }, 'slow');
                            } else {
                                $('body').append('<div  class="contact-success color-red">Đăng nhập thất bại.</div>');
                            }
                            $('html, body').animate({ scrollTop: 0 }, 'slow');
                            setTimeout(hidemsg, 5000);
                        }
                    });  //end ajax
                    return false;
                }//end if

                $(".formError").click(function () {
                    $(this).hide();
                });

                return false;
            });


            //$('#btn-contact-reset').click(function(){hideerror();});
            $("#phone").numeric();
            //$("#fax").numeric();

            $('#frm_contact').keydown(function (e) {
                if (e.keyCode == 13) {
                    $('#btn-contact-submit').trigger('click');
                }
            });

        });

    </script>
    <script type="text/javascript" src="https://cinestar.com.vn/catalog/view/theme/default/js/btq.js?v=24"></script>
</body>
</html>
