
@{
    ViewBag.Title = "AddNV";
    Layout = "~/Views/Shared/ViewQLHome.cshtml";
}

<script>
    $(function () {
        $('#datetimepicker4').datetimepicker();
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });

    var input = document.getElementById('upload');
    var infoArea = document.getElementById('upload-label');

    input.addEventListener('change', showFileName);
    function showFileName(event) {
        var input = event.srcElement;
        var fileName = input.files[0].name;
        infoArea.textContent = 'File name: ' + fileName;
    }

</script>
<div class="right">
    <div class="card">
        <div class="card-body">
            <center><h2>Thêm nhân viên</h2></center>
            <div class="container-md">
                <center>
                        <table>
                            <tr>
                                <td rowspan="4" colspan="2">
                                    <div class="row py-4">
                                        <div class="col-lg-10 mx-auto">
                                            <div class="image-area mt-4">
                                                <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                                            </div>
                                            @*<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                    <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                    <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                    <div class="input-group-append">
                        <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                    </div>
                </div>*@
                                        </div>
                                    </div>
                                </td>
                                
                                <td><label>Giới tính</label></td>
                                <td>
                                    <input type="radio" id="male" name="gender" value="male">
                                    <label for="male">Nam</label>
                                    <input type="radio" id="female" name="gender" value="female">
                                    <label for="female">Nữ</label>
                                    <input type="radio" id="female" name="gender" value="female">
                                    <label for="female">Khác</label>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Email</label></td>
                                <td><input type="text" name="hoten" class="input1" /></td>
                            </tr>
                            <tr>
                                <td><label>Địa chỉ </label></td>
                                <td><input type="text" name="hoten" class="input1" /></td>
                            </tr>
                            <tr>
                                <td><label>Số điện thoại </label></td>
                                <td><input type="text" name="hoten" class="input1" /></td>
                            </tr>
                            <tr>
                                <td style="width:15%"><label>Họ tên</label></td>
                                <td style="width:35%"><input type="text" name="hoten" class="input1" /></td>
                                <td style="width:15%;padding-top: 10px; padding-bottom: 10px;"><label>Ngày đăng ký </label></td>
                                <td style="width:35%"><input type="datetime-local" id="birthdaytime" name="birthdaytime" style="width: 100%;"></td>
                            </tr>
                            <tr>
                                <td><label>CMND </label></td>
                                <td><input type="text" name="hoten" class="input1" /></td>
                                <td><label>Vai trò </label></td>
                                <td>
                                    <select id="vaitro" name="vaitro">
                                        <option value="nvBanVe">---Nhân viên bán vé---</option>
                                        <option value="nvThuNgan">---Nhân viên thu ngân---</option>
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <td><label>Ngày sinh  </label></td>
                                <td>  <input type="datetime-local" id="birthdaytime" name="birthdaytime"></td>
                                <td style="padding-top: 10px; padding-bottom: 10px;"><label>Trạng thái </label></td>
                                <td>
                                    <select id="trangthai" name="trangthai">
                                        <option value="ttnghi">---Đang làm---</option>
                                        <option value="ttlam">---Đã nghỉ---</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </center>
                    <br />
                    <center>
                        <button type="button" class="btn btn-primary" onclick="location.href = '';">Thêm</button>
                        <button type="button" class="btn btn-danger" onclick="location.href = '';">Thoát</button>
                    </center>
                </div>
            </div>
        </div> 
    </div>
</div>

