
@{
    
    <ul class="nav justify-content-center" style=" background-color: #DD256D;">

        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-user"></i> Nhân viên</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-film"></i> Phim</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="far fa-clock"></i> Suất chiếu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-utensils"></i> Đồ ăn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-plus"></i> Combo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-home"></i> Phòng chiếu </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-users"></i> Khách hàng</a>
        </li>
    </ul>
 

    <div class="card align-items-center">
        <video style="width:98%;" id="video_background" preload="auto" autoplay="autoplay" loop="loop" muted volume="0">
            <source src="~/Scr/public/videos/Night Lantern Anime Wallpaper.mp4" type="video/mp4" />
        </video>
    </div>

    Layout = "~/Views/QLHome/ViewQLHome.cshtml";
}


