
@{
    Layout = "~/Views/Shared/Background.cshtml";
}
<link rel="stylesheet" href="~/CSS/Login.css" />
<div class="login">
    <h1>Đăng nhập</h1>
    <form method="post">
        <input type="text" name="u" placeholder="Tên tài khoản" required="required" />
        <input type="password" name="p" placeholder="Mật khẩu" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Đăng nhập</button>
    </form>
</div>
