@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .hot img{
        display: block;
        max-height: 400px;
        max-width: 1000px;
        margin: 0 auto 30px;
       
        border: 3px solid yellow;
        align-content:center
    }
    .movie-pic {
        border: 3px solid yellow;
    }
</style>
<div class="sub-tab">
    <ul><li class="current" style="margin:5px 0 5px 0;font-family:'High Tower Text'"><a href="#"><h1>DANH SÁCH PHIM HOT</h1></a> </li></ul>  
</div>
<div class="movie-content">
    <div class="hot"><img src="~/Content/CINESTAR_files/1200x500.png" /></div>

    <div class="movie-pic"><img src="~/Content/CINESTAR_files/bogia1203.jpg" /></div>

    <div class="movie-pic"><img src="~/Content/CINESTAR_files/tom-jerry-quay-tung-new-york-684.jpg" /></div>
    <div class="movie-pic"><img src="~/Content/CINESTAR_files/palm.jpg" /></div>
    <div class="movie-pic"><img src="~/Content/CINESTAR_files/god.png" /></div>
</div>