
@model IEnumerable<QLBanVePhim.Models.phim>

@{
    ViewBag.Title = "Lich Chieu Phim Ngay";
    Layout = "~/Views/Shared/SharedHomepage.cshtml";
}

<style>
    .container-fluid {
        background-color: #27001f;
        background-image: linear-gradient(90deg, #27001f 0%, #4c0044 50%, #27001f 100%);
        height: 400vh;
        box-sizing: border-box;
        font-family: :'Times New Roman',sans-serif;
    }

    .wrapper {
        display: flex;
        justify-content:center;
        align-items: center;
        width: 100%;
    }

    .ngaychieuBox {
        width: 20%;
        height: 100px;
        background-color: orange;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .movieWrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 80%;
    }

    .movieBox {
        position: relative;
        width: 90%;
        height: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 40px;
        background-color: #ed0085;
        background-image: linear-gradient(225deg, #ed0085 0%, #462a5e 50%, #075186 100%);
    }

    .imgBox {
       
        width: 20%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
        .imgBox img {
            max-width: 100%;
            height: 100%;
        }

    .giochieu {
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .giochieu span {
            color: black;
            font-weight: bold;
            margin: 15px;
            background-color: #fecf06;
            padding: 2px;
            border: dotted 2px #000000;
        }
    .movieInfor{
            color:white;
        }
    .datepicker {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        padding:15px;
    }
    .datepicker h2 {
            color: #fecf06;
            padding: 10px 15px 10px 15px;

        }
    [type="date"] {
        background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    }

    [type="date"]::-webkit-inner-spin-button {
            display: none;
        }

    [type="date"]::-webkit-calendar-picker-indicator {
            opacity: 0;
        }
    label {
        display: block;
          }
    input {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        background-color: #fff;
        padding: 3px 5px;
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
        width: 190px;
    }
</style>
<div class="container-fluid">
    <div class="wrapper">
        <div class="movieWrapper">
            @foreach (var phim in Model)
            {
                <div class="movieBox">
                    <div class="imgBox">
                        <img src=@phim.hinh_anh />
                    </div>
                    <div class="movieInfor">
                        <h3>@phim.ten</h3>
                        <p>@phim.thoi_luong</p>
                    </div>
                    <div class="giochieu">
                        @foreach (var sc in ViewBag.DsSuatChieu)
                        {
                            if (sc.phim_id == phim.id)
                            {                              
                            <span>
                                @sc.ngay_chieu.ToShortDateString()
                                <br/>
                                @sc.gio_bat_dau
                            </span>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
