@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<h1 style="text-align:center; background-color:antiquewhite; margin-top:8px; margin-bottom:0px">Đăng kí thành viên</h1>
<p style="text-align:center; background-color:antiquewhite; font:italic; margin-bottom:0px; padding:5px">Vui lòng nhập đầy đủ thông tin</p>
<style>
    .formDangKy{
        text-align:center;
        width:auto;
        background-color:antiquewhite;
        margin-bottom:5px;
    }
    .form-control{
        text-align:center;
        width:500px;
    }
    .row:nth-child(even) {
        background-color: antiquewhite;
    }
    .row:nth-child(odd) {
        background-color: antiquewhite;
    }
    .col-form-label{
        font-weight:bold;
        font-size:20px;
    }
</style>

<form class="formDangKy">
    <div class="form-group row">
        <label class="col-sm-4 col-form-label" style="font:bold">Họ tên</label>
        <input type="text" class="form-control" id="hoTen" placeholder="Nhập họ tên" />
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Chứng minh nhân dân</label>
        <input type="text" class="form-control" id="cmnd" placeholder="Nhập chứng minh nhân dân" />
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Mật khẩu</label>
        <input type="password" class="form-control" id="passWord" placeholder="Nhập mật khẩu" />
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Số điện thoại</label>
        <input type="text" class="form-control" id="sdt" placeholder="Nhập số điện thoại" />
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Nhập email" />
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Địa chỉ</label>
        <input type="text" class="form-control" id="diaChi" placeholder="Nhập địa chỉ" />
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Ngày sinh</label>
        <input type="date" class="form-control" id="ngàySinh" placeholder="Nhập email" />
    </div>
    <fieldset class="form-group">
        <div class="row">
            <label class="col-form-label col-sm-4 pt-0">Giới tính</label>
            <div class="col-sm-6" style="text-align:left">
                <div class="form-check form-check-inline" style="text-align:left">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gioiTinhNam" value="0">
                    <label class="form-check-label" style="font-size:20px">
                        Nam
                    </label>
                </div>
                <div class="form-check form-check-inline" style="text-align:left">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gioiTinhNu" value="1">
                    <label class="form-check-label" style="font-size:20px">
                        Nữ
                    </label>
                </div>
            </div>
        </div>
    </fieldset>

    <input type="submit" value="Đăng ký" class="btn btn-success" />

</form>