
@{
    ViewBag.Title = "TicketPrice";
    Layout = "~/Views/Shared/SharedHomepage.cshtml";
}
<style>
    #bangGiaVe {
        margin: auto;
        width: 70%;
        empty-cells: show;
        color:white;
    }

    #tabelGiaVe{
        font-size:25px;
        text-align:center;
    }

    table, th, td {
        border: 2px solid black;
    }

    td,th{
        padding:15px
    }

</style>

<div id="bangGiaVe">
    <h1>
        Bảng Giá Vé
    </h1>
        <table id="tabelGiaVe">
            <thead>
                <tr  style="background-color:cornflowerblue">
                    <th colspan="2" rowspan="2">Giá vé</th>
                    <th colspan="2">Loại ghế</th>
                    <th colspan="2">Định dạng phim</th>

                </tr>
                <tr style="background-color:lightslategray">
                    <th>THƯỜNG</th>
                    <th>VIP</th>
                    <th>2D</th>
                    <th>3D</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="background-color:cadetblue">Thứ 2->6</td>
                    <td style="background-color:darkorange">@ViewBag.GiaVe_Day đ</td>
                    <td rowspan="2" style="background-color:goldenrod">+@ViewBag.GiaGhe_Normal đ</td>
                    <td rowspan="2" style="background-color:goldenrod">+@ViewBag.GiaGhe_VIP đ</td>
                    <td rowspan="2" style="background-color:goldenrod">+@ViewBag.DDP_2D đ</td>
                    <td rowspan="2" style="background-color:goldenrod">+@ViewBag.DDP_3D đ</td>
                </tr>
                <tr>
                    <td style="background-color:cadetblue">Thứ 7->Chủ Nhật</td>
                    <td style="background-color:darkorange">@ViewBag.GiaVe_End đ</td>
                </tr>
            </tbody>
        </table>

</div>

